<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/Skeleton-2.0.4/css/normalize.css') }}">
            <link rel="stylesheet" href="{{ asset('css/Skeleton-2.0.4/css/skeleton.css') }}">
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="header">
            <div class="container">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('logo-icones/LOGO.svg') }}" alt="Logo de l'association" class="header-logo">
                </a>
                <nav class="header-navbar hidden-sm">
                    <a href="{{ path('homepage') }}" class="header-navbar-item">
                        <i class="icon icon--home"></i>
                        <p class="header-navbar-link">Accueil</p>
                    </a>
                    <a href="#" class="header-navbar-item">
                        <i class="icon icon--connection"></i>
                        <p class="header-navbar-link">Connexion</p>
                    </a>
                    <a href="{{ path('observationcartepage') }}" class="header-navbar-item">
                        <i class="icon icon--maps"></i>
                        <p class="header-navbar-link">Carte</p>
                    </a>
                    <a href="{{ path('observationpage') }}" class="header-navbar-item">
                        <i class="icon icon--obs"></i>
                        <p class="header-navbar-link">Observation</p>
                    </a>
                    <a href="{{ path('nao_blog_homepage') }}" class="header-navbar-item">
                        <i class="icon icon--prog"></i>
                        <p class="header-navbar-link">Programme</p>
                    </a>
                    <a href="{{ path('nao_user_compte') }}" class="header-navbar-item">
                        <i class="icon icon--account"></i>
                        <p class="header-navbar-link">Compte</p>
                    </a>
                    <a href="{{ path('nao_faq_homepage') }}" class="header-navbar-item">
                        <i class="icon icon--faq"></i>
                        <p class="header-navbar-link">Faq</p>
                    </a>
                    {% if is_granted('ROLE_NATURALISTE') %}
                        <a href="{{ path('observationpropage') }}" class="header-navbar-item">
                            <i class="icon icon--contact"></i>
                            <p class="header-navbar-link">Espace pro</p>
                        </a>
                    {% else %}
                        <a href="{{ path('nao_blog_contact') }}" class="header-navbar-item">
                            <i class="icon icon--contact"></i>
                            <p class="header-navbar-link">Contact</p>
                        </a>
                    {% endif %}
                </nav>
                <div class="navbar-mobile">
                    <i class="icon icon--burger"></i>
                </div>
            </div>
        </header>
        <div id="login-page"></div>
        <nav class="navbar-mobile-content">
            <span class="navbar-mobile-title">Menu de navigation</span>
            <div class="navbar-mobile-item">
                <i class="icon icon--arrow"></i>
                <a href="{{ path('homepage') }}" class="navbar-mobile-link">Accueil</a>
            </div>
            <div class="navbar-mobile-item">
                <i class="icon icon--arrow"></i>
                <a href="#" class="navbar-mobile-link">Connexion / Inscription</a>
            </div>
            <div class="navbar-mobile-item">
                <i class="icon icon--arrow"></i>
                <a href="{{ path('observationcartepage') }}" class="navbar-mobile-link">Carte Interactive</a>
            </div>
            <div class="navbar-mobile-item">
                <i class="icon icon--arrow"></i>
                <a href="{{ path('observationpage') }}" class="navbar-mobile-link">Saisir une observation</a>
            </div>
            <div class="navbar-mobile-item">
                <i class="icon icon--arrow"></i>
                <a href="{{ path('nao_blog_homepage') }}" class="navbar-mobile-link">Programmes</a>
            </div>
            <div class="navbar-mobile-item">
                <i class="icon icon--arrow"></i>
                <a href="{{ path('nao_faq_homepage') }}" class="navbar-mobile-link">FAQ</a>
            </div>
            <div class="navbar-mobile-item">
                <i class="icon icon--arrow"></i>
                <a href="{{ path('nao_blog_contact') }}" class="navbar-mobile-link">Contact</a>
            </div>
            <div class="navbar-mobile-item">
                <i class="icon icon--arrow"></i>
                <a href="{{ path('nao_newsletter_homepage') }}" class="navbar-mobile-link">Newsletter</a>
            </div>
            <div class="navbar-mobile-item">
                <i class="icon icon--arrow"></i>
                <a href="#" class="navbar-mobile-link">Mentions legales</a>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="three columns">
                        <div class="footer-item">
                            <i class="icon icon--newsletter hidden-sm"></i>
                            <a href="{{ path('nao_newsletter_homepage') }}" class="footer-link">Newsletter</a>
                        </div>
                        <div class="footer-item">
                            <i class="icon icon--legalMention hidden-sm"></i>
                            <a href="#" class="footer-link">Mentions legales</a>
                        </div>
                        <div class="footer-item">
                            <i class="icon icon--contact hidden-sm"></i>
                            <a href="{{ path('nao_blog_contact') }}" class="footer-link">Contact</a>
                        </div>
                    </div>
                    <div class="six columns">
                        <div class="footer-item footer-item--center">
                            <a href="https://www.youtube.com">
                                <i class="icon icon--youtube"></i>
                            </a>
                            <a href="https://www.facebook.com">
                                <i class="icon icon--facebook"></i>
                            </a>
                            <a href="https://twitter.com">
                                <i class="icon icon--twitter"></i>
                            </a>
                        </div>
                    </div>
                    <div class="three columns text-align--right">
                        <address class="footer-address">
                            <p>
                                Association nao<br>
                                Nos amis les oiseaux<br>
                                123, rue de la rue<br>
                                12345 France
                            </p>
                        </address>
                        <div class="footer-copyright">
                            <i class="icon--small icon--copyright"></i>
                            <p>copyright asso-nao.org</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        {% block javascripts %}
            {% if is_granted('ROLE_ADMIN') %}
            <script src="{{ asset('js/src/admin/admin-pages.js') }}"></script>
            <script src="{{ asset('js/src/admin/admin-app.js') }}"></script>
            {% endif %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
            <script src="{{ asset('js/src/HeaderShrink.js') }}"></script>
            <script src="{{ asset('js/src/MenuSlider.js') }}"></script>
            <script src="{{ asset('js/src/getPage.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
            {% if is_granted('ROLE_ADMIN') %}
                <script>
                    (function () {
                        let pageLogin;
                        let waitingPage = setInterval(function () {
                            pageLogin = document.querySelector('.login-content');
                            if (pageLogin !== null) {
                                let adminColor = '#00A99D';

                                let titles = document.querySelectorAll('.login-content h1, .login-content h2, .login-content h3');
                                let labels = document.querySelectorAll('.login-content label');
                                let icons = document.querySelectorAll('.login-content .icon');
                                let links = document.querySelectorAll('.login-content a');

                                icons.forEach(icon => {
                                    icon.classList.remove('is_active');
                                    icon.classList.add('is_pro');
                                });
                                labels.forEach(label => {
                                    label.style.color = adminColor;
                                });
                                links.forEach(link => {
                                    link.style.color = adminColor;
                                });
                                titles.forEach(title => {
                                    title.style.color = adminColor;
                                });
                                clearInterval(waitingPage);
                            }
                        }, 1000);

                    })();
                </script>
            {% endif %}
        {% endblock %}
    </body>
</html>
