{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="message-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-group">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div>
        <label for="username">{{ 'security.login.username'|trans }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
    </div>
    <div>
        <label for="password">{{ 'security.login.password'|trans }}</label>
        <input type="password" id="password" name="_password" required="required" />
    </div>
        <a class="password-forget" href="{{ path('fos_user_resetting_request') }}">Mot de passe / identifiant oublié ?</a>
    <div class="remember_me">
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    <button class="btn" type="submit" id="_submit" name="_submit">
        <i class="icon icon--connection is_active"></i>
        <span>{{ 'security.login.submit'|trans }}</span>
    </button>
</form>
