{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        .message-error {
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            z-index: 100;
            top: 0;
            left: 10px;
            color: #FAFAFA;
            width: 200px;
            height: 72px;
            border-radius: 4px;
            background-color: #AA3333;
            transition: 1s;
        }
        .login-fullpage {
            color: #FAFAFA;
            display: flex;
            position: relative;
            top: 140px;
            margin-bottom: 160px;
        }
        .login-fullpage form {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .login-fullpage form input {
            width: 100%;
            color: #282829;
        }
        .login-fullpage .password-forget {
            align-self: flex-start;
            left: 0;
        }
        .login-fullpage form button.btn {
            align-self: flex-start;
        }
        .remember_me {
            margin: auto 0;
            padding-top: 12px;
            padding-bottom: 12px;
            position: relative;
            left: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            transition: all .2s;
        }
        #remember_me {
            width: 20px;
            display: none;
            transition: all .2s;
        }
        .remember_me label {
            color: #FAFAFA !important;
        }
        #remember_me:checked + label:after{
            position: relative;
            right: 160px;
            display: inline-block;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            content: url('{{ asset('logo-icones/checked.svg') }}');
            transition: all .2s;
        }
        #remember_me:not(:checked) + label:before,
        #remember_me:checked + label:before {
            position: relative;
            top: 3px;
            right: 10px;
            content: url('{{ asset('logo-icones/box-checked.svg') }}');
            display: inline-block;
            width: 20px;
            height: 20px;
            transition: all .2s; /* on prévoit une animation */
        }
        #remember_me:not(:checked) + label:after {
            transition: all .2s;
            opacity: 0; /* coche invisible */
            transform: scale(0); /* mise à l'échelle à 0 */
        }
        #remember_me:checked + label:after {
            transition: all .2s;
            opacity: 1; /* coche opaque */
            transform: scale(1); /* mise à l'échelle 1:1 */
        }
    </style>
{% endblock %}
{% block body %}
{% if error %}
    <div class="message-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="login-fullpage container">
    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-group">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        {% endif %}
        <div>
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
        <div>
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" name="_password" required="required" />
        </div>
        <a class="password-forget" href="{{ path('fos_user_resetting_request') }}">Mot de passe / indentifiant oublié ?</a>
        <div class="remember_me">
            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
        </div>
        <button class="btn" type="submit" id="_submit" name="_submit">
            <i class="icon icon--connection is_active"></i>
            <span>{{ 'security.login.submit'|trans }}</span>
        </button>
    </form>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        (function () {
            let errorMessage = document.querySelector('.message-error');
            if (errorMessage) {
                setTimeout(function () {
                    errorMessage.style.opacity = 1;
                    errorMessage.style.top = '150px'
                }, 300);
                setTimeout(function () {
                    errorMessage.style.transition = '2.5s';
                    errorMessage.style.opacity = 0;
                    errorMessage.style.top = '340px'
                }, 3300)
            }
        })()
    </script>
{% endblock %}