{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/user.css') }}">
{% endblock %}

{% block body %}
    <!------Message---Traitement--->
    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger" id="commande-error">
            {% for msg in app.session.flashBag.get('error') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    <section class="section-img container">
        <div class="row">
            <picture>
                <source media="(min-width: 640px)" srcset="{{ asset('images/mesange-1024px.jpg') }}">
                <source media="(max-width: 640px)" srcset="{{ asset('images/mesange-640px.jpg') }}">
                <img src="{{ asset('images/mesange-640px.jpg') }}" alt="Rouge gorge" width="100%">
            </picture>
        </div>
    </section>

    <!------Compte Admin / gestion des utilisateurs--->
    <div class="container user-container">
        <h1 class="user-title">
            <i class="icon--large icon--account is_active"></i>
            <span>Mon Compte</span>
        </h1>
        {#
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="btn btn-red" href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
            </a>
        {% endif %}
        #}
        {% if is_granted('ROLE_ADMIN') %}
            <h3 class="user-title">
                <i class="icon icon--account is_active"></i>
                <span>Mes infos</span>
            </h3>
            <h3>Liste des users</h3>
            {% if formName is defined %}
            <div class="well admin">
                 {{ form(formName) }}
            </div>
            {% endif %}
            {% if formMail is defined %}
            <div class="well admin">
                 {{ form(formMail) }}
            </div>
            {% endif %}
            {% if userFindByName is defined %}
                <h3>Resultats</h3>
            {% for role in userFindByName.roles|slice(0,1)  %}
                    {% if role != 'ROLE_ADMIN' and role != 'ROLE_SUPER_ADMIN' %}
                        <span class="user-name">PSEUDO : {{ userFindByName.username|e }}</span>
                        <span>ROLE : {% if role == 'ROLE_USER'%} Utilisateur{% endif %}{% if role == 'ROLE_NATURALISTE'%}Naturaliste{% endif %}</span>
                        <div class="user-admin-edit">
                            <a href="{{ path('nao_user_admin_delete', { 'id': userFindByName.id }) }}"><input class="btn btn-red" type="submit" value="Supprimer"></a>
                            {% if role == 'ROLE_NATURALISTE'%}
                            <a href="{{ path('nao_user_demote', { 'id': userFindByName.id }) }}"><input class="btn" type="submit" value="Rétrograder en utilisateur"></a>
                            {% endif %}
                            {% if role == 'ROLE_USER'%}
                            <a href="{{ path('nao_user_promote', { 'id': userFindByName.id }) }}"><input class="btn" type="submit" value="Promouvoir en naturalise"></a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            {% if userFindByEmail is defined %}
            {% for role in userFindByEmail.roles|slice(0,1)  %}
                    {% if role != 'ROLE_ADMIN' and role != 'ROLE_SUPER_ADMIN' %}
                        <span class="user-name">PSEUDO : {{ userFindByEmail.username|e }}</span>
                        <span>ROLE : {% if role == 'ROLE_USER'%} Utilisateur{% endif %}{% if role == 'ROLE_NATURALISTE'%}Naturaliste{% endif %}</span>
                        <div class="user-admin-edit">
                            <a href="{{ path('nao_user_admin_delete', { 'id': userFindByEmail.id }) }}"><input class="btn btn-red" type="submit" value="Supprimer"></a>
                            {% if role == 'ROLE_NATURALISTE'%}
                            <a href="{{ path('nao_user_demote', { 'id': userFindByEmail.id }) }}"><input class="btn" type="submit" value="Rétrograder en utilisateur"></a>
                            {% endif %}
                            {% if role == 'ROLE_USER'%}
                            <a href="{{ path('nao_user_promote', { 'id': userFindByEmail.id }) }}"><input class="btn" type="submit" value="Promouvoir en naturalise"></a>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            
           
            <h3>Modification Mot de passe</h3>
            <div class="user-delete-account admin">
                {{ render(controller('FOSUserBundle:ChangePassword:changePassword' ))}}
            </div>
        {% endif %}

        <!------Compte User/Naturaliste--->
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and not is_granted('ROLE_ADMIN')%}
            <div class="user-content">
                <h3 class="user-title">
                    <i class="icon icon--account is_active"></i>
                    <span>Mes infos</span>
                </h3>
                <div class="user-mail">
                    {{ render(controller('NAOUserBundle:Admin:updMailUser' , {'id': app.user.id}  ))}}
                </div>
                <h3 class="user-title">
                    <i class="icon icon--lock is_active"></i>
                    <span>Modifier mon mot de passe</span>
                </h3>
                <div class="user-password">
                    {{ render(controller('FOSUserBundle:ChangePassword:changePassword' ))}}
                </div>
            </div>
            <h3 class="user-title">
                <i class="icon icon--trash is_active"></i>
                <span>Suppression du compte <span class="text-red">(irréverssible)</span></span>
            </h3>
            <div class="user-delete-account">
                {{ render(controller('NAOUserBundle:Admin:deleteUser' , {'id': app.user.id}  ))}}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {% if is_granted('ROLE_NATURALISTE') %}
    <script>
        (function () {
            let buttons = document.querySelectorAll('.btn:not(.btn-red), input[type=submit]:not(.btn-red)');
            buttons.forEach(button => {
                button.style.backgroundColor = '#00A99D';
            });

            let textOnBlue = document.querySelectorAll('.user-container p,.user-container h1,.user-container h2,.user-container h3,.user-container h4, .user-container label')
            textOnBlue.forEach(text => {
                text.style.color = '#00A99D';
            });

            let iconsAccount = document.querySelectorAll('.user-container .icon.icon--account, .user-container .icon--large.icon--account');
            iconsAccount.forEach(icon => {
                icon.classList.add('is_pro')
            })
        })()
    </script>
    {% endif %}
    {{ parent() }}
{% endblock %}