{# src/NAO/ProgrammesBundle/Resources/views/Admin/index.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/pages/programmes.css') }}">
{% endblock %}
{% block body %}
    <section class="section-img container">
        <div class="row">
            <picture>
                <source media="(min-width: 640px)" srcset="{{ asset('images/hibou-1024.jpg') }}">
                <source media="(max-width: 640px)" srcset="{{ asset('images/hibou-640px.jpg') }}">
                <img src="{{ asset('images/hibou-1024.jpg') }}" alt="Rouge gorge" width="100%">
            </picture>
        </div>
    </section>
    <section class="blog container">
        {% for blog in blogs %}
            <article class="blog-content">
                <header class="blog-header">
                    <h2 class="title">
                        <a class="blog-link" href="{{ path('nao_admin_view', { 'id': blog.id, 'slug': blog.slug }) }}">{{ blog.title }}</a>
                    </h2>
                </header>
                <div class="snippet">
                    <p>{{ blog.blog(article_extract)|raw }}
                        {% if blog.blog|length > (article_extract) %}
                            ...<a class="lire_suite" href="{{ path('nao_admin_view', { 'id': blog.id, 'slug': blog.slug }) }}"> lire la suite</a>
                        {% endif %}
                    </p>
                </div>
                <div class="article_func">
                    <p class="continue">
                        <a href="{{ path('nao_admin_article', { 'id': blog.id, 'slug': blog.slug }) }}">Modifier ce programme</a>
                        <span class="spanorge"> - </span>
                        <a href="{{ path('nao_admin_view', { 'id': blog.id, 'slug': blog.slug }) }}#comments">Gérer les commentaires</a>
                        <span class="spanorge"> - </span>
                        <a href="{{ path('nao_admin_delblog', { 'id': blog.id }) }}">Supprimer ce programme</a>
                        <span class="spanorge"> - </span>
                        <a href="{{ path('nao_admin_newblog') }}">Créer un programme</a>
                    </p>
                </div>
                <hr class="divider">
                <footer class="blog-footer row">
                    <p class="columns four text-pull-left md">Publié le {{ blog.created|date('d/m/Y') }} à {{ blog.created|date('H:i:s') }}</p>
                    <p class="columns four text-center md">Auteur : {{ blog.author }}</p>
                    <a
                            class="blog-link columns four text-pull-right md"
                            href="{{ path('nao_blog_view', { 'id': blog.id, 'slug': blog.slug }) }}#comments">
                        {{ blog.comments|length }}
                        Commentaires
                    </a>
                </footer>
            </article>
        {% else %}
            <p class="text-center">Aucun programme publié pour le moment</p>
            <div class="first_article">
                <a href="{{ path('nao_admin_newblog') }}">Créer un premier article</a>
            </div>
        {% endfor %}
    </section>
    {% if nbPages > 1  %}
        <ul class="pagination row">
            {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
            {% for p in range(1, nbPages) %}
                <li class="pagination-item {% if p == page %} is_active {% endif %}">
                    <a class="pagination-link" href="{{ path('nao_blog_homepage', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}